*[data-cssdisable-visible="hidden"] {
	display: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	width: 100vw;

	&>header nav ol {
		display: flex;
		flex-direction: row;
		gap: 1em;

		list-style: none;
		padding: 0;
	}
}

header {
	border-radius: 0 0 1em 1em;
	padding: 0 1.2em;
	color: rgb(17, 24, 39);
	background-color: #333;

	& nav {
		display: flex;
		justify-content: space-between;

		& div {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			& > ul {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				margin: 0;
				padding: 0;
				gap: 1em;

				list-style: none;

				& li {
					width: fit-content;
					height: fit-content;

					& a {
						margin: 0;
						/* 간격 조정 */
						border-radius: 25px;
						padding: 10px 20px;
						/* 여백 조정 */

						color: #333;
						text-decoration: none;
						font-weight: 600;
						/* 더 굵은 폰트 */
						line-height: 2.5em;
						background-color: #ffe082;
						/* 배경색 */

						cursor: pointer;
						transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
					}
				}
			}
			& > button {
				border: none;
				color: white;
				font-size: 1.8em;
				background-color: rgba(0,0,0,0);

				cursor: pointer;
			}

			& > dialog { /* TODO: fix ':modal' */
				left: 0;
				top: 0;
				border-width: 0;
				width: 100vw;
				height: 100vh;
				box-sizing: border-box;
			}
		}

		& h1 {
			color: white;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
		}
	}
}

main[data-visible-page] {

	&[data-visible-page="extract"]>div:not(#extract),
	&[data-visible-page="ranking"]>div:not(#ranking) {
		display: none;
	}
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 1em;
	border-radius: 1em 1em 0 0;
}